<div class="container col-md-6 offset-mid-3">
    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="mb-3">
          <label class="form-label" style="margin-top: 100px;">Username</label>
          <input type="text" name="username" ngModel class="form-control" id="loginUsername" placeholder="Enter your username">
          <div id="emailHelp" class="form-text">Username provided by the company.</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" ngModel class="form-control" id="loginPassword" placeholder="Enter your password">
        </div>
        <input type="submit" value="Login" class="btn btn-primary"/>
    </form>
</div>